<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ESRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>The Access controller</description>
    <display-name>AccessController</display-name>
    <servlet-name>AccessController</servlet-name>
    <servlet-class>controller.AccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessController</servlet-name>
    <url-pattern>/accesscon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Caller</display-name>
    <servlet-name>Caller</servlet-name>
    <servlet-class>controller.Caller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caller</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>To control messages to be sent</description>
    <display-name>MsgController</display-name>
    <servlet-name>MsgController</servlet-name>
    <servlet-class>controller.MsgController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgController</servlet-name>
    <url-pattern>/msg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>controller.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/search.user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSector</display-name>
    <servlet-name>SearchSector</servlet-name>
    <servlet-class>controller.SearchSector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSector</servlet-name>
    <url-pattern>/search.sector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfoController</display-name>
    <servlet-name>StudentInfoController</servlet-name>
    <servlet-class>controller.StudentInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoController</servlet-name>
    <url-pattern>/personinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudent</display-name>
    <servlet-name>SearchStudent</servlet-name>
    <servlet-class>controller.SearchStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudent</servlet-name>
    <url-pattern>/search.student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchName</display-name>
    <servlet-name>SearchName</servlet-name>
    <servlet-class>controller.SearchName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchName</servlet-name>
    <url-pattern>/search.name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDepartment</display-name>
    <servlet-name>SearchDepartment</servlet-name>
    <servlet-class>controller.SearchDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDepartment</servlet-name>
    <url-pattern>/search.department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollmentController</display-name>
    <servlet-name>EnrollmentController</servlet-name>
    <servlet-class>controller.EnrollmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentController</servlet-name>
    <url-pattern>/enrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEnrollment</display-name>
    <servlet-name>SearchEnrollment</servlet-name>
    <servlet-class>controller.SearchEnrollment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEnrollment</servlet-name>
    <url-pattern>/search.enrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksController</display-name>
    <servlet-name>MarksController</servlet-name>
    <servlet-class>controller.MarksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksController</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceController</display-name>
    <servlet-name>AttendanceController</servlet-name>
    <servlet-class>controller.AttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceController</servlet-name>
    <url-pattern>/attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplineController</display-name>
    <servlet-name>DisciplineController</servlet-name>
    <servlet-class>controller.DisciplineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplineController</servlet-name>
    <url-pattern>/discipline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
</web-app>